/* OBS */
body {
    background-color: rgba(170, 222, 242, 0.5);
    margin: 0px auto;
    overflow: hidden;
}

/********** 不要部削除 **********/
/* チャット入力欄削除 */
form > div {
    display: none !important;
}
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* スクロールバー削除 */
::-webkit-scrollbar {
    display: none !important;
}
